@model MossadMVC.Models.SuggestionView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SuggestionView</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentNickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentNickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLeft)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="PutStatus" asp-route-id="@Model.MissionID">Exepte Mission</a> |
    <a asp-action="Index">Back to Seggestions</a>
</div>
